#testimony-form
    a#close X Close

    h2 Create Your Testimony

    form( method="post", action="/testimonies" )
        div#name-container
            label(for="name") Enter your name (*optional)
            span.hint If blank, it will show from "Anonymous"
            input#name(name="name", type="textbox")

        div#testimony-container
            label(for="testimony", id="enter-testimony") Enter your testimony below
            div#word-count Word count: 
                span#words 10
            textarea#testimony(name="testimony", cols="40", rows="10")

        div#title-container
            label(for="title") Enter a title for your testimony
            input#title(name="title", type="textbox")

        div#tags-container
            label(for="tags") Enter some tags to categorize your testimony
            span.hint Separate by comma or hit 'Enter' after each
            input#tags(name="tags", type="hidden")

            div#tagbox
                ul
                    li
                        input#tag-single(name="tag-single", type="textbox")

        div.btn-group
            button#preview(class="btn btn-default btn-large") Preview
            button#submit(class="btn btn-default btn-large") Submit

    script( id="tags-template", type="text/doT-template" )
        {{~it.tags:value:index}}
        li
            span.x x
            p {{=value}}
        {{~}}

