/* Base */

*
  box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box


body
  background-color: $backgroundColor
  color: $baseColor
  overflow-x: hidden
  margin: 0
  padding: 0 
  font: $font
a
  color: $tertiaryColor
  font-size: $medium
  text-decoration: none
  text-transform: uppercase

  &:hover
    text-decoration: underline


h2
  display: inline-block
  font-size: 1.75em

h3 
  font-size: 16px
  font-weight: 300
  margin: 0
  text-transform: uppercase


h4 
  font-size: 1.5em

p 
  line-height: 33px
  margin-bottom: $gutter

.content-title
  clear: both
  display: block
  margin: 20px 0

.tagline
  margin-left: 10px
  padding-top: 6px

#main 
  h1
    font-size: 30px
    font-weight: 400
    text-transform: uppercase

  .divider
    border-bottom: 1px solid $mainBorderColor
    margin: $gutterBig auto 
    width: 185px



#content
  clear: both


/* Subnav */
#subnav

  .colon
    color: $baseColor
    float: left
    font-size: $medium
    margin-right: $gutterHalf


  #read
    margin-bottom: $gutterHalf

.hr-divider
  margin-top: $gutterHalf
  padding: $gutter
  position: relative

  .hr-line 
    background-color: #ccc
    height: 1px

  .hr-text
    background-color: $backgroundColor
    font-size: $large
    font-style: italic
    position: absolute
    top: $gutterHalf + 5
    width: $gutter * 2
    margin-left: -($gutter)



#subTitle-prefix
  color: $lightColor
  float: left
  margin-right: $gutterHalf

#subTitle
    float: left

    
#tagSelector
    float: left 
    padding: 2px


    .icon-caret-down
        float: left
        font-size: 11px
        margin-top: 3px


#tagSelector--tagCategory
    appearance: none
    border: none
    float: left
    font-size: $medium
    margin-right: $gutterSmall
    margin: 0
    outline: none
    padding: 0
    text-transform: uppercase

#read
    display: inline

/* Buttons */

button 
    border: none;
    border-radius: $gutter
    color: $backgroundColor
    cursor: pointer
    font-family: $fontFamily
    font-size: $smallMedium
    padding: 13px $gutterDouble
    text-transform: uppercase
    outline: none

