#testimony-form
  background: rgba(225, 225, 225, 0.95)
  width: 700px
  min-height: 900px
  height: 100%
  padding: 0 40px

  border-left: 1px solid #ccc
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1)

  overflow: hidden
  position: absolute
  top: 0
  right: -700px 
  z-index: 10

  &.open, &.close
    transition-property: right
    transition-duration: 0.4s
    transition-timing-function: ease
    position: absolute

  &.close
    right: -700px 

  &.open
    right: 0
    visibility: visible

  &:after
    content: ""
    clear: both
    display: block
    visibility: hidden
    font-size: 0
    height: 0

  input, textarea
    width: 100%

  #testimonybox
    input()
    height: 300px
    overflow: scroll
    margin-bottom: $gutter

    ol, ul 
      margin: $gutterHalf $gutter

  .btn-group
    float: right

  .control-group
    margin-bottom: $gutter

  #form-testimony
    .error input
    .error textarea
    .error .required
      border: 2px solid red

    .error label
      color: red

  .hint
    display: block
    margin: -5px 0 10px 0

#enter-testimony
  float: left

#words
  float: right

#close
  cursor: pointer
  display: inline
  float: right
  margin-top: 20px
  text-decoration: underline

#tag-single-container 
  border: none !important

  input
    border: none !important
    font-family: $fontFamily
    font-size: 16px
    margin-bottom: 0 !important
    margin-left: -3px !important
    min-width: 150px !important
    padding: 3px

    &:focus
      outline: none

#tagbox
  input() 
  min-height: 40px
  padding: 10px 10px 5px 10px

  ul
    margin: 0
    overflow: auto
    padding: 0
    margin-left: -5px
    margin-top: -5px
    
    li 
      border: 1px solid $mainBorderColor
      border-radius: 4px
      display: inline
      float: left
      margin: 3px
      padding: 0 6px 0 6px

      .x 
        color: $mainBorderColor
        cursor: pointer
        display: inline
        float: right
        margin-left: 5px

        &:hover
          color: $defaultFontColor

      p 
        float: left
        margin: 0
        padding: 0


#editor
  clear: both
  list-style-type: none
  margin: 0
  padding: 0
  margin-bottom: 10px

  li 
    display: inline
    margin-right: 5px

    &:hover
      cursor: pointer


