.share
  h1
    font-family: $fontDisplay

#testimony-form
  #submit-button 
    display: block 
    margin: 0 auto

  &:after
    content: ""
    clear: both
    display: block
    visibility: hidden
    font-size: 0
    height: 0

  input, textarea
    font-size: $large
    margin-bottom: $gutterDouble
    width: 100%

  input[type=text]:focus, textarea:focus, #testimonybox:focus
    border: none
    outline: none
    border-bottom: 1px solid black
    box-shadow(0 4px 2px -2px yellow)

  #name:empty:before
    content: attr(data-placeholder)
    placeholder()

  #testimonybox
    input()
    clear: both
    min-height: $gutter
    line-height: 1.25
    overflow: scroll

    ol, ul 
      margin: $gutterHalf $gutter

    &.hide
      display: none

  #testimonybox:empty:before
    content: attr(data-placeholder)
    placeholder()

  .control-group
    margin-bottom: $gutter

  #form-testimony
    .error input
    .error textarea
    .error .required
      border: 2px solid red

    .error label
      color: red

    label
      color: $baseColor
      font-family: $fontDisplay
      font-size: $medium
      text-transform: uppercase

  .hint
    display: block
    font-size: $medium
    margin: -5px 0 10px 0

#enter-testimony
  float: left

#words
  font-size: $medium
  float: right

#close
  cursor: pointer
  display: inline
  float: right
  margin-top: 20px
  text-decoration: underline

#tag-single-container 
  border: none !important

  input
    border: none !important
    font-family: $fontFamily
    font-size: $large
    margin-bottom: 0 !important
    margin-left: -3px !important
    min-width: 150px !important
    padding: 3px

    &:focus
      outline: none

#tagbox
  input() 
  min-height: 40px
  padding: 10px 10px 5px 10px

  &.hide
    display: none

  ul
    margin: 0
    overflow: auto
    padding: 0
    margin-left: -5px
    margin-top: -5px
    
    li 
      border: 1px solid $mainBorderColor
      border-radius: 4px
      display: inline
      float: left
      margin: 3px
      padding: 0 6px 0 6px

      .x 
        color: $mainBorderColor
        cursor: pointer
        display: inline
        float: right
        font-size: $medium
        margin-left: 10px

        &:hover
          color: $defaultFontColor

      p 
        float: left
        margin: 0
        padding: 0


#editor
  clear: both
  list-style-type: none
  margin: 0
  padding: 0
  margin-bottom: 10px

  li 
    display: inline
    margin-right: 5px

    &:hover
      cursor: pointer

.modalShow 
    #testimony-form--background
        display: block

#testimony-form--background
    background-color: $modalBackgroundColor
    width: 100%
    height: 100%
    display: none
    opacity: 0.75
    position: fixed
    top: 0
    left: 0
    z-index: 1


.btn-primary 
    background-color: $btnPrimaryColor

/* Placeholders */

::-webkit-input-placeholder 
   placeholder()

:-moz-placeholder 
   placeholder()

::-moz-placeholder
   placeholder()

:-ms-input-placeholder
   placeholder()
