/* Layout */

#wrapper
    margin: 0 auto
    margin-top: $gutter * 2
    width: 70%
    max-width: 700px

#header
  background: url(../img/header-bg.jpg) repeat-x 0 0
  border-bottom: 1px solid $mainBorderColor
  height: 52px
  margin: 0
  padding: 0 $gutterHalf

  .divider
    border-right: 1px solid $mainBorderColor
    float: right
    height: 51px
    padding: 0
    margin: 0 $gutterSmall


  .icon-chat
    color: $secondaryColor
    float: left
    font-size: $large
    padding:  0 0 8px
    text-decoration: none

  .icon-share
    color: $secondaryColor
    cursor: pointer
    float: right
    font-size: $large
    padding: $gutterHalf 0 0 8px
    text-decoration: none

  .icon-question
    color: $secondaryColor
    cursor: pointer
    float: right
    font-size: $large
    padding: $gutterHalf 0 0 8px
    text-decoration: none


  h1
    margin: 0
    padding: 0
 
    a 
      float: left

  .left
    float: left
    padding: $gutterHalf 0


  #link-home
    color: $secondaryColor
    font-size: 20px
    font-weight: 400
    text-decoration: none
     
  #link-home-2
    color: $secondaryColor
    font-size: 20px
    font-weight: 300
    margin-left: 3px
    margin-right: $gutterSmall
    text-decoration: none

  #start 
    color: $baseColor
    cursor: pointer
    font-size: $medium
    float: right
    padding-top: $gutterHalf





#main
  float: left
  padding: $gutter 0
  width: 100%

  & > h1, > h2
    margin-top: 0
    margin-bottom: $gutterDouble


