/* Layout */

#wrapper
    margin: 0 auto
    margin-top: $gutter * 2
    width: 70%
    max-width: 700px

#header
  background: url(../img/header-bg.jpg) repeat-x 0 0
  border-bottom: 1px solid $mainBorderColor
  height: 52px
  margin: 0
  padding: 0 $gutterHalf

  a 
    font-weight: normal 
    text-transform: none

  .divider
    border-right: 1px solid $mainBorderColor
    float: right
    height: 51px
    padding: 0
    margin: 0 $gutterSmall


  .icon-chat
    color: $secondaryColor
    float: left
    font-size: $large
    padding:  0 0 8px
    text-decoration: none

  .icon-share, .icon-plus
    background-color: $secondaryColor
    border-radius: 35px 
    color: $backgroundColor
    cursor: pointer
    float: right
    font-size: $large
    margin: 8px 0 0 8px
    padding-top: 7px
    text-decoration: none
    text-align: center 
    height: 35px 
    width: 35px 

  .icon-question
    color: $secondaryColor
    cursor: pointer
    float: right
    font-size: $large
    padding: $gutterHalf 0 0 8px
    text-decoration: none


  h1
    margin: 0
    padding: 0
 
    a 
      float: left

  .left
    float: left
    padding: $gutterHalf 0


  #link-home
    color: $secondaryColor
    font-family: $fontDisplay
    font-size: $large
    margin-top: -9px
    text-decoration: none
     
  #link-home-2
    color: $baseColor
    font-family: $fontLogo
    font-size: $large
    margin-top: -9px
    margin-left: 1px
    margin-right: $gutterSmall
    text-decoration: none

  #start 
    color: $baseColor
    cursor: pointer
    font-size: $medium
    float: right
    padding-top: $gutterHalf





#main
  float: left
  padding: 0 0 ($gutterDouble * 2) 0
  width: 100%

  & > h1, > h2
    margin-top: 0
    margin-bottom: $gutterDouble
    text-align: center 


.about
  h1
    font-family: $fontDisplay
 
  ul
    margin-bottom: $gutter

  li 
    margin: $gutterHalf 0
