.home
    .view-testimony
        display: block
        margin: $gutterDouble 0

        .icon-arrow-right
            margin-left: $gutterHalf

.author
  font-weight: bold
  margin-top: -20px

#return
  text-decoration: underline

#testimony-detail
  margin-bottom: $gutter

#testimony-footer
  border-top: 1px solid $mainBorderColor

.tags
  border-right: 1px solid $mainBorderColor
  float: left
  padding-top: $gutterHalf
  width: 50%

  li 
    background-color: #f8f8f8
    border: 1px solid $mainBorderColor
    border-radius: 10px
    display: inline-block
    font-size: 0.9em
    padding: 2px 10px
    margin-right: 5px

    &:hover
      background-color: #ccc
      color: #777
      cursor: pointer

  .tags-list
    .label
      margin-right: $gutterSmall

.flag
  float: left
  padding-left: $gutter
  padding-top: $gutterHalf
  width: 50%

  li 
    display: inline-block
    margin-right: 5px
    padding: 2px 5px

#heading
  float: left
  width: 100%

  .title
    float: left;
    min-width: 200px
    width: 50%

    h3
      color: #1dd2af

  .share
    float: right 
    padding-left: $gutter
    width: 50%

    h5 
      margin-bottom: 20px 

    p 
      margin-top: 0

    li 
      display: inline-block
      margin-right: 5px
      padding: 2px 5px


#testimonies
  list-style-type: none
  padding: 0
  margin: 0

  .description 
    ol, ul 
      margin: $gutterHalf $gutter 

    li 
      list-style-type: disc

  .new
    float: left
    line-height: 1px
    margin-left: 5px
    margin-top: 22px
    font-size: 4.0em

  > li 
    margin: $gutterDouble 0 0 0
    overflow: hidden


    .subhead
      color: $baseColor
      float: left
      font-size: 40px
      margin: 0 0 $gutter 0

    .description 
      clear: both
      padding: 0
      color: rgba(#000, 0.8)

    .divider
        border-bottom: 1px solid $mainBorderColor
        margin: 0 auto 
        width: 185px


    button 
      float: right


