// typography
$font = 14px $fontFamily
$fontFamily = Arial, Helvetica, sans-serif
$small = 11px
$medium = 16px
$large = 22px

// colors
$backgroundColor   = #fff
$buttonColor       = #ffeeff
$buttonColorAlt    = #ccc
$buttonBorderColor = gainsboro
$defaultFontColor  = #000
$mainBorderColor   = #ccc

// spacing
$gutter = 30px
$gutterHalf = $gutter / 2
$gutterSmall = $gutter / 4 

// forms
$inputBackgroundColor = #fff

