// typography
$font = 300 22px $fontFamily
$fontFamily = 'Open Sans', Times New Roman, Helvetica, sans-serif
$small = 11px
$smallMedium = 14px
$medium = 16px
$mediumLarge = 20px
$large = 22px
$extraLarge = 50px

// colors
$baseColor            = #333 
$secondaryColor       = #464646
$tertiaryColor        = #262626
$backgroundColor      = #fff
$newColor             = #2ade75
$buttonColor          = #ffeeff
$buttonColorAlt       = #ccc
$buttonBorderColor    = gainsboro
$defaultFontColor     = #000
$lightColor           = #939393
$mainBorderColor      = #d9d9d9
$modalBackgroundColor = #000



// spacing
$gutter = 30px
$gutterBig = 50px
$gutterDouble = $gutter * 2
$gutterHalf = $gutter / 2
$gutterSmall = $gutter / 4 
$gutterMini = $gutter / 8
$gutterMiniHalf = $gutter / 16

// forms
$inputBackgroundColor = #fff
$btnPrimaryColor = #22c064
