// typography
$font = 300 22px $fontFamily
$fontFamily = 'Open Sans', Times New Roman, Helvetica, sans-serif
$small = 11px
$medium = 16px
$large = 22px

// colors
$baseColor            = #333 
$secondaryColor       = #464646
$backgroundColor      = #fff
$buttonColor          = #ffeeff
$buttonColorAlt       = #ccc
$buttonBorderColor    = gainsboro
$defaultFontColor     = #000
$lightColor           = #939393
$mainBorderColor      = #d9d9d9
$modalBackgroundColor = #000

// spacing
$gutter = 30px
$gutterHalf = $gutter / 2
$gutterSmall = $gutter / 4 
$gutterMini = $gutter / 8
$gutterMiniHalf = $gutter / 16

// forms
$inputBackgroundColor = #fff

