extends layout
block testimony-form
    include includes/testimony-form.jade

block main 
    h3.content Latest Testimonies

    ul#testimonies
        // update so uses template to reduce repeated code
        each testimony, index in testimonies
            if index === 0
                li.latest
                    include includes/index-testimonies.jade
            else
                li
                    include includes/index-testimonies.jade

block sidebar
    include includes/sidebar-share.jade

block footer
    include includes/footer.jade
