extends layout

block main 
    h3.content Latest Testimonies

    ul#testimonies
        // update so uses template to reduce repeated code
        each testimony, index in testimonies
            if index === 0
                li.latest
                    h4.subhead= testimony.title
                    span.new *
                    p.description= testimony.testimony
                    button.view(type="button") View
            else
                li
                    h4.subhead= testimony.title
                    p.description= testimony.testimony
                    button.view(type="button") View

block sidebar
    h4#start Ready to share yours?

    button.btn-large Start >

    h4#or Or

    h4#read Read some Testimonies

    select#tag-category
        option(value='0') Select a tag/category
        option(value='Jesus') Jesus
        option(value='Holy Spirit') Holy Spirit
        option(value='drugs') drugs
        option(value='alcohol') alcohol 

    
