extends layout

block main 
    h2.latest Latest Testimonies

    ul#testimonies
        li 
            h3 Wonderful Jesus
            p In 1972, it seemed that all the doors were closing on us where we lived. A new job opportunity opened up for my husband in Laredo, Texas. I didn’t want to move there, because we were very active in our church where we lived. We were part of the church board, church committees, and were involved in virtually every church related activity. But because of my husband’s job situation, we went ahead and moved our family anyway.
            button.view View

        li
            h3 Testimony of God's grace
            p It was 2:30 am when the police woke our family to let us know that my older brother had been killed in an automobile accident. My life has never been the same since.
            button.view View

block sidebar
    h3#start Ready to share yours?

    button.start Start >

    h3#or Or

    h3#read Read some Testimonies

    select#tag-category
        option(value='0') Select a tag/category
        option(value='Jesus') Jesus
        option(value='Holy Spirit') Holy Spirit
        option(value='drugs') drugs
        option(value='alcohol') alcohol 


