!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-buttons.css')

  body(class= page) 
    h1 MyTestimony.com
    h2.tagline - Sharing How Great God Is

    #content
        #main
            block main 

    #sidebar
        block sidebar

    #footer
        block footer

