!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(class= page) 
    #content
        #main
            h1 MyTestimony.com
            h2.tagline - Sharing How Great God Is
            block main 

    #sidebar
        block sidebar

    #footer
        block footer

