!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-buttons.css')
    link(rel='stylesheet', href='/stylesheets/icons.css')

  body(class= page) 
    block testimony-form

    #sidebar
        block sidebar

    h1 MyTestimony.com
    h2.tagline - Sharing How Great God Is

    #content
        #main
            block main 


    #footer
        block footer
            include includes/footer.jade
