extends layout

block testimony-form
    include includes/testimony-form.jade

block main 
    a(href="/") Return

    div#heading
      h3.content= testimony.title
      p.author Posted by: Jeremy S.

    div.share
        h4 Share
        p Share your testimony using a tool below
        ul
            li Email
            li Facebook
            li Twitter
            li SMS Mobile Text



    p!= testimony.testimony

    div#testimony-footer

        div.tags
            h4 Tags
            p This testimony has been tagged with these keywords
            ul
                each tag in testimonyTags
                    li= tag

        div.flag
            h4 Flag
            p Is this post inappropriate?
            ul
                li Flag it

block sidebar
    include includes/sidebar-share.jade

