extends layout

block main 
    h1 About

    div.divider

    p MyTestimony is a collection of testimonies that people share about their stories spent with God, or Jesus Christ. This website is meant to have a collection of them so people can tell others that are curious about how God has been in people's lives and want to learn more about who God is. 

    p There are different ways you can use this website as a tool:

    ul
        li To share how God has blessed your life
        li To share with others that are curious how you became saved
        li To share the details of all the times God has helped, encouraged,
        been there, saved you in different situations
        li To share a story that someone may happen to find browsing the internet and be encouraged by it

    p In any way you use the website, we hope that it would really shed light of who God is and what he has done in your life so people can see how great God is.

