!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/fonts/stylesheet.css')

    script(src="/js/libs/doT.js")
    script(src="/js/libs/xhr.js")

    script(src="/js/MYT.js")
    script(src="/js/MYT.utils.js")
    script(src="/js/modules/header.js")
    script(src="/js/MYT.plugins.editor.js")

  body(class= page) 

    #header.row
        div.left
            h1 
                a(href="/", id="link-home") my 
                a(href="/", id="link-home-2") testimony
        div.right
            a(href="/about", class="icon-question")
            span.divider
            a(href="/share", class="icon-share")
            a(href="/share", id="start") Share Yours

    #wrapper

        #content
            #main
                block main 


    #footer
        block footer
            include includes/footer.jade
