!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/icons.css')

  body(class= page) 
    block testimony-form

    #header.row
        h1 
            a(href="/", id="link-home") MyTestimony.com
        h2.tagline - Sharing How Great God Is
        button(id="start", class="btn btn-default btn-large") Share Yours

    #subnav.row
        block subnav

    #content
        #main
            block main 


    #footer
        block footer
            include includes/footer.jade
