!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/icons.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')

  body(class= page) 
    block testimony-form

    #header.row
        div.left
            h1 
                a(href="/", id="link-home") MY
                a(href="/", id="link-home-2") TESTIMONY 
                span.icon-chat
        div.right
            span.icon-question
            span.divider
            span.icon-share
            a(id="start") SHARE YOURS

    #wrapper

        #subnav.row
            block subnav

        #content
            #main
                block main 


    #footer
        block footer
            include includes/footer.jade
