extends layout

block main 
    h1 Share your testimony

    div#testimony-form

        form( method="post", action="/testimonies", name="form-testimony", id="form-testimony" )
            div#name-container.control-group
                label(for="name") Name
                input#name(name="name", type="textbox", class="field", placeholder='If blank, it will show from "Anonymous"')

            div#email-container.control-group
                label(for="email") E-mail address *
                input#email(name="email", type="textbox", class="required field", placeholder="Provide so you can edit this testimony after it's published")

            div#title-container.control-group
                label(for="title") Title *
                input#title(name="title", type="textbox", class="required field", placeholder="First thing people see when listed on the website")

            div#testimony-container.control-group
                label(for="testimony", id="enter-testimony") Your Testimony *
                div#words Word count: 
                    span#word-count 0

                ul#editor
                    li.icon-format-bold
                    li.icon-format-italic
                    li.icon-format-underline
                    li.icon-format-list-bulleted
                    li.icon-format-list-numbered

                div#testimonybox(name="testimony", cols="40", rows="10", contenteditable="true", class="required field", placeholder="Share your story")


            div#tags-container.control-group
                label(for="tags") Tags
                small.hint Separate by comma or hit 'Enter' after each
                input#tags(name="tags", type="hidden")

                div#tagbox(class="field")
                    ul
                        li#tag-single-container
                            input#tag-single(name="tag-single", type="textbox", autocomplete="off")

            div
                button#submit-button(class="btn btn-default btn-large btn-primary") Publish

            input#testimonyHidden(type="hidden", name="testimonyHidden")

        script( id="tags-template", type="text/doT-template" )
            {{~it.tags:value:index}}
            span.x x
            p {{=value}}
            {{~}}


        script

