extends layout

block testimony-form
    include includes/testimony-form.jade

block main 
    a(href="javascript:history.back()", id="return") Return

    div#heading
        div.title
            h3.content= testimony.title
            p.author Posted by: #{testimony.name}

        div.share
            h4 Share your testimony using a tool below
            ul
                li Email
                li Facebook
                li Twitter
                li SMS Mobile Text

    div#testimony-detail
        p!= testimony.testimony

    div#testimony-footer

        div.tags
            h4 Tags
            p This testimony has been tagged with these keywords
            div.tags-list 
                each tag in testimonyTags
                    span(class="label label-success")= tag

        div.flag
            h4 Flag
            p Is this post inappropriate?
            ul
                li Flag it
