extends layout

block main 

    div#heading
        div.title
            h3.content= testimony.title

    div.divider

    div#testimony-detail
        p!= testimony.testimony


    div.divider

    div#testimony-footer

        div.author 
          div.posted Posted by 
          div.colon :  
          div.name #{testimony.name}
