button
  -webkit-linear-gradient(top, white 1px, whiteSmoke 1px, #EAEAEA 100%)
  -moz-linear-gradient(top, white 1px, whiteSmoke 1px, #EAEAEA 100%)
  border: 1px solid $buttonBorderColor
  border-radius: 5px
  display: inline-block
  cursor: pointer
  font-size: 1em
  margin-bottom: 4px
  padding: 5px 30px
  text-align: center
  text-decoration: none;
  text-shadow: none
  white-space: nowrap

  &:hover
    background-color: $buttonColorAlt

.btn-large  
  padding: 10px 60px

