button
  background-color: $buttonColor
  border: 3px solid $buttonBorderColor
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5) 
  cursor: pointer
  font-size: 1em
  padding: 5px 30px

  &:hover
    background-color: $buttonColorAlt

.btn-large  
  padding: 10px 60px

