#testimony-form
  background: rgba(225, 225, 225, 0.95);
  /* display: none */
  height: 100%;
  width: 700px;
  padding: 0 40px;

  border-left: 1px solid #ccc;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  input, textarea
    width: 100%

  .btn-group
    float: right





