#testimony-form
  background: rgba(225, 225, 225, 0.95)
  height: 100%
  width: 700px
  padding: 0 40px

  border-left: 1px solid #ccc
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.1)

  overflow: hidden
  position: absolute
  top: 0
  right: -700px 
  z-index: 10

  &.open, &.close
    transition-property: right
    transition-duration: 0.4s
    transition-timing-function: ease
    position: absolute

  &.close
    right: -700px 

  &.open
    right: 0
    visibility: visible

  input, textarea
    width: 100%

  .btn-group
    float: right

  .hint
    display: block
    margin: -5px 0 10px 0


#close
  cursor: pointer
  display: inline
  float: right
  margin-top: 20px
  text-decoration: underline




