*
  box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

@import 'mixins.styl'
@import 'variables.styl'
@import 'buttons.styl'
@import 'forms.styl'

// @todo: move into base.styl
body
  padding: 0 $gutter
  font: $font
a
  color: #00B7FF

h1
  float: left
  font-size: 2.25em
  font-weight: normal

h2
  display: inline-block
  font-size: 1.75em
  font-weight: normal

h3 
  font-size: 1.7em
  font-weight: normal

h4 
  font-size: 1.5em
  font-weight: normal

.content-title
  clear: both
  display: block
  margin: 20px 0

.tagline
  margin-left: 10px
  padding-top: 6px

#testimonies
  list-style-type: none
  padding: 0
  margin: 0

  .latest
    background-color: #efefef
    border: 5px solid #ccc
    border-radius: 10px

  .new
    float: left
    line-height: 1px
    margin-left: 5px
    margin-top: 22px
    font-size: 4.0em

  li 
    overflow: hidden
    padding: $gutter

    .subhead
      float: left
      margin: 0 0 10px 0

    .description 
      clear: left
      float: left
      font-size: 1.2em
      margin: 10px 0
      padding: 0
      width: 80%

    button 
      float: left
      margin-left: 50px
      margin-top: 15px 

#content
  clear: both

#main
  border-right: 1px solid $mainBorderColor
  float: left
  padding-right: $gutter
  width: 75%

  & > h1, > h2
    margin-top: 0

#sidebar
  float: left
  padding-left: $gutter
  width: 25%

