*{box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
input,select,textarea{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;display:block;font-size:14px;line-height:18px;margin:0;margin-bottom:30px;padding:10px;min-width:300px}
label{display:block;font-size:16px;font-weight:bold;margin-bottom:10px}
.btn-group button{float:left;margin-right:10px}
#testimony-form{background:rgba(225,225,225,0.95);height:100%;width:700px;padding:0 40px;border-left:1px solid #ccc;-webkit-box-shadow:5px 5px 5px 10px rgba(0,0,0,0.1);-moz-box-shadow:5px 5px 5px 10px rgba(0,0,0,0.1);-ms-box-shadow:5px 5px 5px 10px rgba(0,0,0,0.1);-o-box-shadow:5px 5px 5px 10px rgba(0,0,0,0.1);box-shadow:5px 5px 5px 10px rgba(0,0,0,0.1);overflow:hidden;position:absolute;top:0;right:-700px;z-index:10;}
#testimony-form.open,#testimony-form.close{-webkit-transition-property:right;-moz-transition-property:right;-o-transition-property:right;-ms-transition-property:right;transition-property:right;-webkit-transition-duration:.4s;-moz-transition-duration:.4s;-o-transition-duration:.4s;-ms-transition-duration:.4s;transition-duration:.4s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-ms-transition-timing-function:ease;transition-timing-function:ease;position:absolute}
#testimony-form.close{right:-700px}
#testimony-form.open{right:0;visibility:visible}
#testimony-form input,#testimony-form textarea{width:100%}
#testimony-form .btn-group{float:right}
#testimony-form .hint{display:block;margin:-5px 0 10px 0}
#enter-testimony{float:left}
#word-count{float:right}
#close{cursor:pointer;display:inline;float:right;margin-top:20px;text-decoration:underline}
#tag-single-container{border:none !important;}
#tag-single-container input{border:none !important;font-family:Arial,Helvetica,sans-serif;font-size:16px;margin-bottom:0 !important;margin-left:-3px !important;min-width:150px !important;padding:3px;}
#tag-single-container input:focus{outline:none}
#tagbox{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;display:block;font-size:14px;line-height:18px;margin:0;margin-bottom:30px;padding:10px;min-width:300px;min-height:40px;padding:10px 10px 5px 10px;}
#tagbox ul{margin:0;overflow:auto;padding:0;margin-left:-5px;margin-top:-5px;}
#tagbox ul li{border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;display:inline;float:left;margin:3px;padding:0 6px 0 6px;}
#tagbox ul li .x{color:#ccc;cursor:pointer;display:inline;float:right;margin-left:5px;}
#tagbox ul li .x:hover{color:#000}
#tagbox ul li p{float:left;margin:0;padding:0}
.error input,.error textarea{border:2px solid #f00}
.error label{color:#f00}
.author{font-weight:bold;margin-top:-20px}
#testimony-footer{border-top:1px solid #ccc}
.tags{border-right:1px solid #ccc;float:left;width:50%;}
.tags li{background-color:#f8f8f8;border:1px solid #ccc;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;display:inline-block;font-size:.9em;padding:2px 10px;margin-right:5px;}
.tags li:hover{background-color:#ccc;color:#777;cursor:pointer}
.flag{float:left;padding-left:30px;width:50%;}
.flag li{display:inline-block;margin-right:5px;padding:2px 5px}
#heading{float:left;width:100%;}
#heading .title{float:left;min-width:200px;width:50%}
#heading .share{float:right;padding-left:30px;width:50%;}
#heading .share h5{margin-bottom:20px}
#heading .share p{margin-top:0}
#heading .share li{display:inline-block;margin-right:5px;padding:2px 5px}
.testimony ul{list-style-type:none;margin:0;padding:0;margin-top:-10px}
body{background-color:#fff;overflow-x:hidden;padding:0 30px;font:14px Arial,Helvetica,sans-serif}
a{color:#00b7ff}
h1{float:left;font-size:2.25em;font-weight:normal}
h2{display:inline-block;font-size:1.75em;font-weight:normal}
h3{font-size:1.7em;font-weight:normal}
h4{font-size:1.5em;font-weight:normal}
p{font-size:1.2em;line-height:24px;margin-bottom:30px}
.content-title{clear:both;display:block;margin:20px 0}
.tagline{margin-left:10px;padding-top:6px}
#testimonies{list-style-type:none;padding:0;margin:0;}
#testimonies .latest{background-color:#efefef;border:5px solid #ccc;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px}
#testimonies .new{float:left;line-height:1px;margin-left:5px;margin-top:22px;font-size:4em}
#testimonies li{overflow:hidden;padding:30px;}
#testimonies li .subhead{float:left;margin:0 0 10px 0}
#testimonies li .description{clear:left;float:left;padding:0;width:80%}
#testimonies li button{float:left;margin-left:50px;margin-top:15px}
#content{clear:both}
#main{float:left;padding-right:30px;width:75%;}
#main > h1,#main > h2{margin-top:0}
#sidebar{border-left:1px solid #ccc;height:100%;padding-left:30px;position:fixed;right:0;top:0;width:25%}
