// typography
$font = 14px Arial, Helvetica, san-serif

// colors
$buttonColor       = #ffeeff
$buttonColorAlt    = #ccc
$buttonBorderColor = #555
$mainBorderColor   = #ccc

// spacing
$gutter = 30px
