// typography
$font = 14px Arial, Helvetica, sans-serif

// colors
$backgroundColor   = #fff
$buttonColor       = #ffeeff
$buttonColorAlt    = #ccc
$buttonBorderColor = gainsboro
$defaultFontColor  = #000
$mainBorderColor   = #ccc

// spacing
$gutter = 30px

// forms
$inputBackgroundColor = #fff
