block footer
    //- @todo plan how to pull in libs into application with dependency loading, eg require.js
    script(src="/js/libs/doT.js")
    script(src="/js/libs/ajax.min.js")
    //- @todo add to build a dev/prod flag for separate files like below or concat/minified version to link to
    script(src="/js/MYT.js")
    script(src="/js/MYT.utils.js")
    script(src="/js/modules/sidebar.js")
    script(src="/js/MYT.plugins.tags.js")
    script(src="/js/MYT.plugins.editor.js")
    script(src="/js/app.js")
    script(src="/socket.io/socket.io.js")
    script
        var socket = io.connect('http://54.186.24.182/');
        socket.on('connect', function(data) {
            console.log('connected client', data);
            socket.emit('connected', { status: 'connected homie' });
        });
