h3#subTitle-prefix Viewing category:
h3#subTitle Latest Testimonies

div#tagSelector
    select#tagSelector--tagCategory.dropdown
        option(value='Latest Testimonies') Latest
        each tag in tags
            option(value=tag)= tag

    h5#read Select a tag / category
