h3#subTitle-prefix Category
div.colon :
div#tagSelector
    select#tagSelector--tagCategory.dropdown
        option(value='Latest Testimonies') Latest
        each tag in tags
            if pageTag === tag
                option(value=tag, selected)= tag
            else
                option(value=tag)= tag
    span.icon-caret-down
