#testimony-form
    a#close X Close

    h2 Create Your Testimony

    form( method="post", action="/testimonies", name="form-testimony", id="form-testimony" )
        div#name-container
            label(for="name") Enter your name (*optional)
            span.hint If blank, it will show from "Anonymous"
            input#name(name="name", type="textbox")

        div#testimony-container
            label(for="testimony", id="enter-testimony") Enter your testimony below
            div#words Word count: 
                span#word-count 0

            ul#editor
                li.icon-bold(unselectable="on")
                li.icon-italic
                li.icon-underline
                li.icon-strikethrough

            div#testimonybox(name="testimony", cols="40", rows="10", contenteditable="true", class="required")

        div#title-container
            label(for="title") Enter a title for your testimony
            input#title(name="title", type="textbox", class="required")

        div#tags-container
            label(for="tags") Enter some tags to categorize your testimony
            span.hint Separate by comma or hit 'Enter' after each
            input#tags(name="tags", type="hidden")

            div#tagbox
                ul
                    li#tag-single-container
                        input#tag-single(name="tag-single", type="textbox", autocomplete="off")

        div.btn-group
            button#preview(class="btn btn-default btn-large") Preview
            button#submit-button(class="btn btn-default btn-large") Submit

    script( id="tags-template", type="text/doT-template" )
        {{~it.tags:value:index}}
        span.x x
        p {{=value}}
        {{~}}

