ul#testimonies
    // update so uses template to reduce repeated code
    each testimony, index in testimonies
        if index === 0 && typeof pageTag === 'undefined'
            li
                div.new NEW
                    span.icon-dot
                include index-testimonies.jade
        else
            li
                include index-testimonies.jade

