#testimony-form
    a#close X Close

    h2 Create Your Testimony

    form( method="post", action="/testimonies", name="form-testimony", id="form-testimony" )
        div#name-container.control-group
            label(for="name") Enter your name (*optional)
            small.hint If blank, it will show from "Anonymous"
            input#name(name="name", type="textbox")

        div#email-container.control-group
            label(for="email") Enter your e-mail address
            small.hint Required so you can approve to publish and to edit this testimony at a later time
            input#email(name="email", type="textbox", class="required")

        div#testimony-container.control-group
            label(for="testimony", id="enter-testimony") Enter your testimony below
            div#words Word count: 
                span#word-count 0

            ul#editor
                li.icon-bold
                li.icon-italic
                li.icon-underline
                li.icon-list
                li.icon-numbered-list

            div#testimonybox(name="testimony", cols="40", rows="10", contenteditable="true", class="required")

        div#title-container.control-group
            label(for="title") Enter a title for your testimony
            input#title(name="title", type="textbox", class="required")

        div#tags-container.control-group
            label(for="tags") Enter some tags to categorize your testimony
            small.hint Separate by comma or hit 'Enter' after each
            input#tags(name="tags", type="hidden")

            div#tagbox
                ul
                    li#tag-single-container
                        input#tag-single(name="tag-single", type="textbox", autocomplete="off")

        div
            button#preview-button(class="btn btn-default btn-large") Preview
            button#submit-button(class="btn btn-default btn-large") Publish

        input#testimonyHidden(type="hidden", name="testimonyHidden")

    script( id="tags-template", type="text/doT-template" )
        {{~it.tags:value:index}}
        span.x x
        p {{=value}}
        {{~}}

#testimony-form--background
